* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
:root {
  --black: #191716;
  --blue: #228cdb;
  --red: #b9314f;
  --huge: #f24405;
  font-size: 18px;
}

html {
  position: fixed;
  top: 0;
  left: 0;
}

body,
html {
  position: relative;
  width: 100vw !important;
  height: 100vh !important;
  background: #BB6444;
}

html {
  background: url(/img/space-curtain.png);
  background-size: cover;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

button {
  --accent: var(--blue);
  --border: var(--accent);

  font-size: 1rem;
  background: var(--accent);
  color: white;
  padding: 10px 15px;
  border: 2px var(--border) solid;
  border-radius: 25px;
}

button:hover,
button:focus,
button:active {
  filter: brightness(0.875);
}

.control-group > .control {
  border-radius: 0;
  vertical-align: bottom;
}

.control-group .control:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.control-group .control:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.slide-fade-enter-active,
slide-fade-leave-active {
  transition: all 0.8s ease-in-out;
}

.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.slide-fade-enter-from {
  transform: translateX(-10px);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.hud-element {
  pointer-events: none;
}

.hud-element button,
.hud-element details,
.hud-element a {
  pointer-events: all;
}

.thin {
  font-weight: 100;
}

@keyframes pulse {
  0% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
  }
  70% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 0 25px transparent;
  }
  100% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: 0 0 0 0 transparent;
  }
}

.pulsing {
  box-shadow: 0 0 0 0 #f2440585;
    animation: pulse 1.5s infinite;
}

ul {
  list-style-type: none;
}