* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

:root {
  --black: #191716;
  --blue: #228cdb;
  --red: #B9314F;
  font-size: 18px;
}

html {
  position: fixed;
  top: 0;
  left: 0;
}

body,
html {
  position: relative;
  width: 100vw !important;
  height: 100vh !important;
}

canvas {
  width: 100%;
  height: calc(100% - 150px);
  position: relative;
  top: 75px;
}

button {
  --accent: var(--blue);
  --border: var(--blue);

  font-size: 1rem;
  background: var(--accent);
  color: white;
  padding: 10px 15px;
  border: 2px var(--border) solid;
  border-radius: 25px;
}

button:hover,
button:focus,
button:active {
  filter: brightness(0.875);
}

.button-group > button {
  border-radius: 0;
}

.button-group button:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.button-group button:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.overlay {
  position: fixed;
  top: 75px;
  bottom: 75px;
  left: 0;
  width: 100%;
  z-index: 1;
}
